In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_title_basics = pd.read_csv('data/title.basics.tsv.gz', sep='\t', dtype={'isAdult': 'str'})

In [7]:
df_title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
11570157,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
11570158,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
11570159,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
11570160,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11570161,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [11]:
df_title_basics['titleType'].value_counts()

titleType
tvEpisode       8900916
short           1053421
movie            711319
video            308643
tvSeries         279524
tvMovie          150486
tvMiniSeries      60879
tvSpecial         51875
videoGame         42484
tvShort           10614
tvPilot               1
Name: count, dtype: int64

In [13]:
df_title_basics[df_title_basics['titleType']=='tvMovie']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
29761,tt0030298,tvMovie,Julius Caesar,Julius Caesar,0,1938,\N,101,"Drama,History"
37629,tt0038309,tvMovie,As You Like It,As You Like It,0,1946,\N,\N,Drama
38052,tt0038738,tvMovie,A Midsummer Night's Dream,A Midsummer Night's Dream,0,1946,\N,150,"Drama,Fantasy"
38752,tt0039445,tvMovie,Hamlet Part 1,Hamlet Part 1,0,1947,\N,88,Drama
38925,tt0039618,tvMovie,The Merchant of Venice,The Merchant of Venice,0,1947,\N,90,Drama
...,...,...,...,...,...,...,...,...,...
11569845,tt9916192,tvMovie,Danielle Darrieux: Il est poli d'Ãªtre gai!,Danielle Darrieux: Il est poli d'Ãªtre gai!,0,2019,\N,53,"Biography,Documentary,History"
11569872,tt9916248,tvMovie,Mahiwaga,Mahiwaga,0,1996,\N,\N,"Action,Horror,Thriller"
11569976,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy
11570023,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
11570085,tt9916692,tvMovie,Czlowiek bez twarzy,Czlowiek bez twarzy,0,2015,\N,66,Drama

In [23]:
df_title_basics[df_title_basics['endYear']!='\\N']['titleType'].value_counts()

titleType
tvSeries        105554
tvMiniSeries     32950
tvEpisode            1
Name: count, dtype: int64