In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df_oscar = pd.read_csv('data/raw/full_data.csv', sep='\t')
df_oscar

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051251,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,Nickie Elkins,NaN,NaN,True
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051252,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,The Patent Leather Kid,NaN,NaN,True
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250a,The Last Command,tt0019071,Emil Jannings,Emil Jannings,nm0417837,True,General Dolgorucki [Grand Duke Sergius Alexander],NaN,NaN,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250b,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,nm0417837,True,August Schilling,NaN,NaN,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,an0051255,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,nm0237571,NaN,Mrs. Pleznik,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12009,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Dustin Brooks, Colin Decker",NaN,True,NaN,Fire for Hire's gel first publicly demonstrate...,To DUSTIN BROOKS and COLIN DECKER for the deve...,NaN
12010,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Attila T. Áfra, Timo Aila",NaN,True,NaN,Open Image Denoise is an open-source library t...,To ATTILA T. ÁFRA for the creation of Intel Op...,NaN
12011,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,Mark Noel,NaN,True,NaN,The NACMO series of modular motion bases enabl...,To MARK NOEL for adapting and enhancing the sa...,NaN
12012,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Su Tie, Bei Shimen, Zhao Yanchong",NaN,True,NaN,Utilizing three-axis stabilization through mul...,To SU TIE for the development of the sensor an...,NaN
12013,97,2024,SciTech,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,"Tabb Firchau, John Ellison, Steve Webb, David ...",NaN,True,NaN,Freefly Systems' introduction of handheld stab...,To TABB FIRCHAU for the conception and develop...,NaN

In [3]:
df_oscar['Class'].value_counts()

Class
Production    3257
Title         2748
Acting        1855
Music         1322
Writing       1032
SciTech        904
Directing      516
Special        380
Name: count, dtype: int64

In [4]:
# Removendo SciTech e Special
df_oscar = df_oscar[~df_oscar['Class'].isin(['SciTech', 'Special'])]
df_oscar

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051251,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,Nickie Elkins,NaN,NaN,True
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051252,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,nm0001932,NaN,The Patent Leather Kid,NaN,NaN,True
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250a,The Last Command,tt0019071,Emil Jannings,Emil Jannings,nm0417837,True,General Dolgorucki [Grand Duke Sergius Alexander],NaN,NaN,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250b,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,nm0417837,True,August Schilling,NaN,NaN,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,an0051255,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,nm0237571,NaN,Mrs. Pleznik,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11991,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid035,Anora,tt28607951,Written by Sean Baker,Sean Baker,nm0048918,True,NaN,NaN,NaN,NaN
11992,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid036,The Brutalist,tt8999762,"Written by Brady Corbet, Mona Fastvold","Brady Corbet, Mona Fastvold","nm1227232,nm2178754",NaN,NaN,NaN,NaN,NaN
11993,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid037,A Real Pain,tt21823606,Written by Jesse Eisenberg,Jesse Eisenberg,nm0251986,NaN,NaN,NaN,NaN,NaN
11994,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid039,September 5,tt28082769,"Written by Moritz Binder, Tim Fehlbaum; Co-Wri...","Moritz Binder, Tim Fehlbaum, Alex David","nm9415549,nm2959497,nm1017048",NaN,NaN,NaN,NaN,NaN
11995,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid038,The Substance,tt17526714,Written by Coralie Fargeat,Coralie Fargeat,nm0267287,NaN,NaN,NaN,NaN,NaN

In [5]:
# Oscar nao associando a filme
df_oscar[df_oscar['Film'].isna()].shape[0]

30

In [6]:
# Removendo oscars nao associados a filme
df_oscar = df_oscar[~df_oscar['FilmId'].isna()]

In [7]:
# Check NomId for 2024
((df_oscar['Year']!='2024') & (df_oscar['NomId'].str.contains('fake'))).sum()

np.int64(0)

In [8]:
# Buscando filmes com mais indicações ao oscar
nominations_count = df_oscar['FilmId'].value_counts()
nominations_count

FilmId
tt0042192     14
tt3783958     14
tt0120338     14
tt0421715     13
tt5580390     13
              ..
tt30294282     1
tt30953759     1
tt30227076     1
tt9218128      1
tt22893404     1
Name: count, Length: 5198, dtype: int64

In [9]:
df_oscar.loc[:, 'Winner'] = df_oscar['Winner'].fillna(0).astype(int)
df_oscar

,Ceremony,Year,Class,CanonicalCategory,Category,NomId,Film,FilmId,Name,Nominees,NomineeIds,Winner,Detail,Note,Citation,MultifilmNomination
0,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051251,The Noose,tt0019217,Richard Barthelmess,Richard Barthelmess,nm0001932,0,Nickie Elkins,NaN,NaN,True
1,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051252,The Patent Leather Kid,tt0018253,Richard Barthelmess,Richard Barthelmess,nm0001932,0,The Patent Leather Kid,NaN,NaN,True
2,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250a,The Last Command,tt0019071,Emil Jannings,Emil Jannings,nm0417837,1,General Dolgorucki [Grand Duke Sergius Alexander],NaN,NaN,True
3,1,1927/28,Acting,ACTOR IN A LEADING ROLE,ACTOR,an0051250b,The Way of All Flesh,tt0019553,Emil Jannings,Emil Jannings,nm0417837,1,August Schilling,NaN,NaN,True
4,1,1927/28,Acting,ACTRESS IN A LEADING ROLE,ACTRESS,an0051255,A Ship Comes In,tt0018389,Louise Dresser,Louise Dresser,nm0237571,0,Mrs. Pleznik,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11991,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid035,Anora,tt28607951,Written by Sean Baker,Sean Baker,nm0048918,1,NaN,NaN,NaN,NaN
11992,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid036,The Brutalist,tt8999762,"Written by Brady Corbet, Mona Fastvold","Brady Corbet, Mona Fastvold","nm1227232,nm2178754",0,NaN,NaN,NaN,NaN
11993,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid037,A Real Pain,tt21823606,Written by Jesse Eisenberg,Jesse Eisenberg,nm0251986,0,NaN,NaN,NaN,NaN
11994,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid039,September 5,tt28082769,"Written by Moritz Binder, Tim Fehlbaum; Co-Wri...","Moritz Binder, Tim Fehlbaum, Alex David","nm9415549,nm2959497,nm1017048",0,NaN,NaN,NaN,NaN
11995,97,2024,Writing,WRITING (Original Screenplay),WRITING (Original Screenplay),fake_nomid038,The Substance,tt17526714,Written by Coralie Fargeat,Coralie Fargeat,nm0267287,0,NaN,NaN,NaN,NaN

In [10]:
wins_count = df_oscar[['FilmId', 'Winner']].groupby('FilmId').sum().sort_values(by='Winner', ascending=False)
wins_count

          Winner
FilmId
tt0167260     11
tt0052618     11
tt0120338     11
tt0055614     10
tt0093389      9
...          ...
tt0058099      0
tt0058182      0
tt0058189      0
tt0058203      0
tt9806192      0

[5198 rows x 1 columns]

In [11]:
# Carregando os dados de filmes 
df_title = pd.read_csv('data/processed/title.tsv.gz', sep='\t', compression='gzip')
df_title

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,person
0,tt0000001,short,Carmencita,Carmencita,1894,1,"Documentary,Short",5.7,2148,nm0005690,\N,NaN
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short",5.5,292,nm0721526,\N,NaN
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,1892,5,"Animation,Comedy,Romance",6.5,2184,nm0721526,nm0721526,NaN
3,tt0000004,short,Un bon bock,Un bon bock,1892,12,"Animation,Short",5.3,188,nm0721526,\N,NaN
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,1893,1,Short,6.2,2931,nm0005690,\N,"(nm0443482,actor,[""Blacksmith""]),(nm0653042,ac..."
...,...,...,...,...,...,...,...,...,...,...,...,...
480388,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,2020,84,Thriller,5.8,1506,nm1480867,"nm1480867,nm10538402,nm5584269","(nm0144812,actor,[""Ascoltatore""]),(nm3080119,a..."
480389,tt9916362,movie,Coven,Akelarre,2020,92,"Drama,History",6.4,6033,nm1893148,"nm1893148,nm3471432","(nm3766704,actress,[""Ana""]),(nm0107165,actor,[..."
480390,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123,Drama,8.3,9,nm4457074,"nm4843252,nm4900525,nm2679404","(nm8678236,actress,[""Sinta""]),(nm1417182,actre..."
480391,tt9916544,short,My Sweet Prince,My Sweet Prince,2019,12,"Drama,Short",6.8,81,nm3219235,nm3219235,"(nm9424215,actor,[""Tommy""]),(nm9873304,actor,[..."
480392,tt9916730,movie,6 Gunn,6 Gunn,2017,116,Drama,7.0,13,nm10538612,nm10538612,"(nm6096005,actor,\N),(nm0059461,actor,\N),(nm1..."

In [18]:
df_oscar.loc[ ~df_oscar['FilmId'].isin(df_title['tconst']), ['Year', 'Film', 'CanonicalCategory', 'FilmId'] ]

          Year              Film        CanonicalCategory      FilmId
45     1928/29       The Patriot  ACTOR IN A LEADING ROLE   tt0019257
52     1928/29       The Patriot            ART DIRECTION   tt0019257
61     1928/29       Four Devils           CINEMATOGRAPHY   tt0018907
70     1928/29       The Patriot                DIRECTING   tt0019257
75     1928/29       The Patriot             BEST PICTURE   tt0019257
...        ...               ...                      ...         ...
9151      2003        Gone Nutty    SHORT FILM (Animated)   tt0342965
9534      2006  No Time for Nuts    SHORT FILM (Animated)   tt0902999
11032     2017  Revolting Rhymes    SHORT FILM (Animated)   tt6386210
11305     2019           Kitbull    SHORT FILM (Animated)   tt9536832
11447     2020            Burrow    SHORT FILM (Animated)  tt13167288

[104 rows x 4 columns]

In [24]:
df_oscar.loc[ ~df_oscar['FilmId'].isin(df_title['tconst']), 'CanonicalCategory'].value_counts()

CanonicalCategory
DOCUMENTARY (Short Subject)     37
DOCUMENTARY (Feature)           18
SHORT SUBJECT (One-reel)        13
SHORT SUBJECT (Two-reel)        12
SHORT FILM (Live Action)         9
SHORT FILM (Animated)            7
SHORT SUBJECT (Novelty)          2
BEST PICTURE                     1
ART DIRECTION                    1
ACTOR IN A LEADING ROLE          1
DIRECTING                        1
CINEMATOGRAPHY                   1
WRITING (Adapted Screenplay)     1
Name: count, dtype: int64

In [30]:
df_title = df_title\
.merge(nominations_count, left_on='tconst', right_on='FilmId', how='inner')\
.merge(wins_count, left_on='tconst', right_on='FilmId', how='inner')\
.rename(columns={'count': 'oscarNominations', 'Winner': 'oscarWins'})

df_title

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,person,oscarNominations,oscarWins
0,tt0015864,movie,The Gold Rush,The Gold Rush,1925,95,"Adventure,Comedy,Drama",8.1,123323,nm0000122,nm0000122,"(nm0000122,actor,[""The Lone Prospector""]),(nm0...",2,0
1,tt0017743,movie,Chang: A Drama of the Wilderness,Chang: A Drama of the Wilderness,1927,69,"Adventure,Documentary,Drama",6.8,1189,"nm0178260,nm0774325","nm0008280,nm0178260,nm0774325","(nm0472440,actor,[""Kru - the Lao Tribesman""]),...",1,0
2,tt0017806,movie,The Devil Dancer,The Devil Dancer,1927,73,"Drama,Romance",4.9,72,nm0629243,"nm0381152,nm0002316,nm0562372","(nm0336660,actress,[""Takla (The Devil Dancer)""...",1,0
3,tt0017822,movie,The Dove,The Dove,1927,90,"Adventure,Drama,Romance",6.5,110,nm0922327,"nm0533102,nm0810290,nm0922327,nm0064595","(nm0848232,actress,[""Dolores""]),(nm0001935,act...",1,1
4,tt0017979,movie,The Private Life of Helen of Troy,The Private Life of Helen of Troy,1927,87,"Action,Adventure,Comedy",5.8,99,nm0466099,"nm0259850,nm0792845,nm0933133,nm0240534,nm0732452","(nm0179386,actress,[""Helen of Troy""]),(nm08320...",1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,tt9660502,movie,Close,Close,2022,104,Drama,7.8,42912,nm4080113,"nm4080113,nm3899543","(nm13465094,actor,[""Leo""]),(nm13575723,actor,[...",1,0
5096,tt9770150,movie,Nomadland,Nomadland,2020,107,Drama,7.3,192636,nm2125482,"nm2125482,nm9572798","(nm0000531,actress,[""Fern""]),(nm0000657,actor,...",6,3
5097,tt9777644,movie,Da 5 Bloods,Da 5 Bloods,2020,154,"Adventure,Drama,War",6.5,56172,nm0000490,"nm0082677,nm0210290,nm0932551,nm0000490,nm1247793","(nm0005148,actor,[""Paul""]),(nm3718007,actor,[""...",1,0
5098,tt9784798,movie,Judas and the Black Messiah,Judas and the Black Messiah,2021,126,"Biography,Drama,History",7.4,94614,nm3489851,"nm0077768,nm3489851,nm3584219,nm5695570","(nm3147751,actor,[""Bill O'Neal""]),(nm2257207,a...",6,2
5099,tt9806192,movie,I Lost My Body,J'ai perdu mon corps,2019,81,"Animation,Drama,Fantasy",7.5,37770,nm3021346,"nm3021346,nm0491011","(nm7079932,actor,[""Naoufel""]),(nm4973460,actre...",1,0

In [31]:
df_title.to_csv('data/processed/title_oscar.tsv.gz', sep='\t', compression='gzip', index=False)